/* Color Pallet*/
:root {
  --yellow: #fca311;
  --black: #000000;
  --white: #ffffff;
  --grey: #e5e5e5;
  --blue: #14213d;
  --brown: #5e503f;
}

.App {
  text-align: center;
}

/* Scrollbar*/
.App::-webkit-scrollbar{
  width: 0.5rem;
  height: 0.5rem;
}
.App::-webkit-scrollbar-thumb {
  background: rgb(212, 1, 1);
  border-radius: 20px;
}
.App::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 20px;
}

.Container {
  text-align: center;
  display: grid;
  grid-auto-rows: repeat(auto-fit, minmax(100px, auto-fit));
}

.button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}
